NEXT_PUBLIC_API_URL=https://api.example.com

NEXT_PUBLIC_ENABLE_API_ERROR_DEBUG=false
NEXT_PUBLIC_ENABLE_QUERY_PERSIST=true
NEXT_PUBLIC_QUERY_PERSIST_MAX_AGE_MINUTES=15
NEXT_PUBLIC_QUERY_PERSIST_MAX_TOTAL_BYTES=1000000
NEXT_PUBLIC_QUERY_PERSIST_MAX_QUERY_BYTES=150000
NEXT_PUBLIC_ENABLE_REACT_QUERY_DEVTOOLS=false

PORT=3000
FRONTEND_PORT=3000
